*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%;
  min-height: 100vh;
  background-color: var(--color-black);
  font-family: var(--font-primary);

  @include responsive(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include responsive(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
  @include responsive(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
label {
  color: var(--color-white);
}

p {
  font-size: 1.8rem;
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: 800;
}

ul {
  list-style: none;
}
