.u-white {
  color: var(--color-white);
}
.u-black {
  color: var(--color-black);
}
.u-container {
  width: 90%;
  max-width: 115rem;
  margin: 0 auto;
}

.u-margin-bottom {
  &-small {
    margin-bottom: 1.5rem;
  }
  &-medium {
    margin-bottom: 4rem;
  }
  &-big {
    margin-bottom: 8rem;
  }
}

.u-margin-sides-short {
  max-width: 120rem;
  margin: auto;
  width: 95%;
}

.u-margin-sides-medium {
  max-width: 114rem;
  margin: auto;
  width: 90%;
}

.u-font-secondary {
  font-family: var(--font-secondary);
}
