:root {
  --color-primary: hsl(152, 100%, 20%);
  --color-primary-dark: hsl(152, 95%, 15%);
  --color-primary-light: hsl(152, 98%, 25%);

  --color-black: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 97%);

  --color-gray: hsl(0, 1%, 35%);

  --font-primary: "Bebas Neue", Sans-serif;
  --font-secondary: "Inter", Sans-serif;
}
