.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 8rem;
  }

  &__list {
    display: flex;
  }

  .header__list-item {
    padding: 0 2rem;
  }
}
