.company {
  text-align: center;
  padding: 5rem 0;

  &__text {
    color: var(--color-primary-light);
  }

  &__logos {
    display: flex;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__img {
    width: 100%;
  }

  &-info {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 0%);
  }

  &__title {
    text-align: start;
    padding-bottom: 3rem;
    text-transform: uppercase;
  }

  &__text {
    text-align: justify;
    line-height: 2.5rem;
  }
}

.benefit {
  padding: 5rem 0;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 5rem;
  }

  &__img {
    width: 6rem;
  }

  &__title {
    color: var(--color-primary-light);
  }
}

.cta {
  padding: 8rem 0;
  text-align: center;

  &__title {
    margin: auto;
    width: 80rem;
    margin-bottom: 3rem;
  }
}
